*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.8;
}

section{
    max-width:1000px;
    margin:auto;
    padding:70px 20px;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    background:linear-gradient(135deg,#0f172a,#1e293b,#111827);
}

.hero h1{
    font-size:60px;
    margin-bottom:10px;
}

.hero h2{
    color:#38bdf8;
    margin-bottom:20px;
}

.hero p{
    max-width:750px;
    color:#cbd5e1;
}

.hero-buttons{
    margin-top:30px;
}

.btn{
    display:inline-block;
    margin:10px;
    padding:14px 30px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #38bdf8;
}

.secondary{
    background:transparent;
    color:white;
    border:2px solid #38bdf8;
}

.secondary:hover{
    background:#38bdf8;
    color:black;
}

h2{
    color:#38bdf8;
    margin-bottom:25px;
    position:relative;
    display:inline-block;
}

h2::after{
    content:"";
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-8px;
    width:120px;
    height:3px;
    background:#38bdf8;
    border-radius:10px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#1e293b;
    padding:12px 20px;
    border-radius:30px;
    transition:.3s;
}

.skills span:hover{
    background:#38bdf8;
    color:black;
    transform:scale(1.08);
}

.project{
    background:#1e293b;
    padding:25px;
    border-radius:18px;
    margin-bottom:25px;
    transition:.3s;
    border:1px solid rgba(255,255,255,.08);
}

.project:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(56,189,248,.35);
}

.project a{
    color:#38bdf8;
    text-decoration:none;
}

.project a:hover{
    text-decoration:underline;
}

hr{
    border:none;
    height:1px;
    background:#334155;
    width:90%;
    margin:auto;
}

a{
    color:#38bdf8;
}

footer{
    text-align:center;
    padding:30px;
    color:#94a3b8;
}

@media(max-width:768px){

.hero h1.hero h1{
    font-size:60px;
    margin-bottom:10px;
    letter-spacing:2px;
    text-shadow:0 0 18px rgba(56,189,248,.45);
}

.hero h2{
    font-size:22px;
}

.btn{
    display:block;
    margin:15px auto;
    width:220px;
}

}
html{
    scroll-behavior:smooth;
}

::selection{
    background:#38bdf8;
    color:black;
}